<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express and HBS</title>
    <link rel="stylesheet" href="../assets/css/index.css" />
  </head>
  <body>
    <h1>Express dan hbs</h1>
    <p>Nyobain express dan hbs</p>
  </body>
</html>