<!-- REFACTOR TO BOOTSTRAP -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Website</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="./assets/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <!-- NAV BAR -->
  <body>
    <div class="container-fluid bg-body-secondary px-0 pb-5">

      <nav class="navbar navbar-expand-sm bg-body-tertiary">
        <div class="container-fluid px-5">
          <a href="#">
            <img
              class="logo"
              src="./assets/icons/logo-dumbways.png"
              width="30px"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="index-bs.html"
                >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="my-project.html">My Project</a>
              </li>
            </ul>
            <span class="navbar-text">
              <a
                class="btn btn-dark px-3 py-1 text-white fw-bold"
                href="contact"
              >
                Contact Me
              </a>
            </span>
          </div>
        </div>
      </nav>

      <!-- MAIN PAGE -->
      <div class="container main-page rounded-3 bg-body shadow d-flex">
        <div class="container mt-4 w-75 left-card">
          <section class="intro-profile">
            <p class="h4 fw-bold">Hi Welcome to my hut</p>
            <p class="">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
              error possimus iste sit! Ut deleniti corrupti error doloremque
              mollitia earum aliquid quisquam dolores facilis, porro suscipit?
              Culpa, nobis quos possimus rem eligendi suscipit mollitia
              consequatur velit et nemo odit perferendis veritatis ut corrupti
              ipsum, in ullam consectetur quisquam exercitationem illum vel.
              suscipit mollitia consequatur velit et nemo odit perferendis
              veritatis ut corrupti ipsum.
            </p>
          </section>

          <div class="contact">
            <div class="d-flex gap-4 mb-4 contact-download">
              <a
                class="btn btn-dark px-4 py-1 rounded-pill text-white"
                href="#"
              >contact</a>
              <a class="" href="#" class="download-button">
                <span>download CV</span>
                <img
                  class="ms-2"
                  src="assets/icons/download.svg"
                  alt="download icon"
                />
              </a>
            </div>

            <ul class="d-flex list-inline social-icons gap-3">
              <li>
                <a class="icon-link" href="#">
                  <img
                    class="social-svgs"
                    src="assets/icons/linkedin.svg"
                    alt="linkedin icon"
                  />
                </a>
              </li>
              <li>
                <a class="icon-link" href="#">
                  <img
                    class="social-svgs"
                    src="assets/icons/instagram.svg"
                    alt="instagram icon"
                  />
                </a>
              </li>
              <li>
                <a class="icon-link" href="#">
                  <img
                    class="social-svgs"
                    src="assets/icons/facebook.svg"
                    alt="facebook icon"
                  />
                </a>
              </li>
              <li>
                <a class="icon-link" href="#">
                  <img
                    class="social-svgs"
                    src="assets/icons/twitter.svg"
                    alt="twitter icon"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="card shadow">
          <img
            class="card-img-top"
            src="assets/images/profile-picture.jpg"
            alt="Foto Wajah Rhoma Irama"
          />
          <div class="card-body d-flex flex-column align-items-center">
            <h1 class="h4 fw-bold person-name">Rhoma Irama</h1>
            <p class="card-text small">Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>

    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
  </body>
</html>