<footer class="d-flex flex-column align-items-center gap-2 border-top">

  <!-- <div class="mt-5">
    <code class="text-body-secondary">chmod 777 brain && sudo coffee make magic
      @ Radif Aghnadiin</code>

  </div> -->

  <div class="mt-5 typewriter">
    <div>
      <p class="text-body-secondary">[Radif Aghnadiin @ 🇮🇩 ~]chmod 777 brain &&
        sudo coffee make magic
      </p>
    </div>
  </div>

  <!-- Social links -->
  <div>
    <ul class="d-flex gap-2 list-unstyled">
      <li>
        <a href="#"><img
            src="/assets/icons/github_light.svg"
            alt="GitHub"
            width="20px"
          /></a></li>
      <li>
        <a href="#"><img
            src="/assets/icons/linkedin-colored.svg"
            alt="LinkedIn"
            width="20px"
          /></a></li>
    </ul>
  </div>

  <!-- Built with section -->
  <div class="d-flex align-items-center gap-2">
    <small class="text-muted">Crafted using:</small>
    <ul class="d-flex gap-2 list-unstyled mb-0">
      <li>
        <a href="https://nodejs.org" target="_blank" rel="noopener">
          <img
            src="/assets/icons/node-js.svg"
            alt="Node.js"
            width="15px"
            title="Node.js"
            class="tech-icon"
          />
        </a>
      </li>
      <li>
        <a href="https://expressjs.com" target="_blank" rel="noopener">
          <img
            src="/assets/icons/expressjs.svg"
            alt="Express.js"
            width="15px"
            title="Express.js"
            class="tech-icon"
          />
        </a>
      </li>
      <li>
        <a href="https://handlebarsjs.com" target="_blank" rel="noopener">
          <img
            src="/assets/icons/handlebars.svg"
            alt="Handlebars"
            width="15px"
            title="Handlebars"
            class="tech-icon"
          />
        </a>
      </li>
      <li>
        <a href="https://getbootstrap.com" target="_blank" rel="noopener">
          <img
            src="/assets/icons/bootstrap.svg"
            alt="Bootstrap"
            width="15px"
            title="Bootstrap"
            class="tech-icon"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>